<form class="example-container" (submit)="updateBook2($event)">
	<h2>Update book:</h2>
	<mat-form-field>
		<input matInput placeholder="Book Name" type="text" [(ngModel)]="bookname" name="bookname">
	</mat-form-field>
	<mat-form-field>
		<input matInput placeholder="Author Name" type="text" [(ngModel)]="authorname" name="authorname">
	</mat-form-field>
	<mat-form-field>
		<input matInput placeholder="Price" type="text" [(ngModel)]="price" name="price">
	</mat-form-field>
	<button mat-raised-button value="Submit" color="primary">Update</button>
</form>